
.mapa{
    margin-top: 25px;
    margin-bottom: 100px;
}


h2{
    width: 200px;
    height: 50px;
    color: blue;
    position: relative;
    left: 620px;
    text-align: center;
}


h3{
    width: 800px;
    height: 50px;
    position: relative;
    left: 350px;
    text-align: center;
}
.login-button {
    position: fixed;
    top: 10px;  /* Ajusta esta distancia según necesites */
    right: 10px; /* Ajusta esta distancia según necesites */
}

.login-button button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.login-button button:hover {
    background-color: darkblue;
}
.auth-buttons {
    position: fixed;
    top: 10px;
    right: 150px;
}

.auth-buttons button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Espacio entre los botones */
}

.auth-buttons button:hover {
    background-color: darkblue;
}

